.idea/
*.iml
venv/
release.properties
pom.xml.releaseBackup
pom.xml.versionsBackup
dependency-reduced-pom.xml
.classpath
.deps
.project
.settings/
.tested*
.compared
.built
# Approval tests
acceptance/
# Pytest
.pytest_cache
