name: Release Python

on:
  push:
    branches: [release/*]

jobs:
  publish-pypi:
    name: Publish PyPI Package
    runs-on: ubuntu-latest
    environment: Release
    permissions:
      id-token: write
    defaults:
      run:
        working-directory: python
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@5a095e7a2014a4212f075830d4f7277575a9d098 # v7.3.1
        with:
          enable-cache: true
          python-version: "3.14"
          version: "0.10.7"

      - name: Build package
        run: uv build

      - name: Publish package
        run: uv publish
