name: test-python

on:
  push:
    branches:
      - main
      - renovate/**
  pull_request:
    branches:
      - main

jobs:
  test-python-linting:
    runs-on: "ubuntu-latest"
    strategy:
      fail-fast: false
    defaults:
      run:
        working-directory: python
    steps:
    - uses: actions/checkout@v6

    - name: Install uv and set the python version
      uses: astral-sh/setup-uv@v7
      with:
        enable-cache: true
        python-version: "3.14"
        version: "0.9.13"

    - name: Linting
      run: uvx pre-commit run --all-files

  test-python:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
        include:
          - os: windows-latest
            python-version: "3.10"
          - os : macos-latest
            python-version: "3.10"
    defaults:
      run:
        working-directory: python
    steps:
    - uses: actions/checkout@v6
  
    - name: Install uv and set the python version
      uses: astral-sh/setup-uv@v7
      with:
        enable-cache: true
        python-version: ${{ matrix.python-version }}
        version: "0.9.13"

    - name: Run pytest
      run: uv run --with pytest-github-actions-annotate-failures pytest -p no:sugar --quiet tests/
