name: test-python

on:
  push:
    branches:
      - main
      - renovate/**
  pull_request:
    branches:
      - main

jobs:
  test-python-linting:
    runs-on: "ubuntu-latest"
    strategy:
      fail-fast: false
    defaults:
      run:
        working-directory: python
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Install uv and set the python version
      uses: astral-sh/setup-uv@803947b9bd8e9f986429fa0c5a41c367cd732b41 # v7.2.1
      with:
        enable-cache: true
        python-version: "3.14"
        version: "0.10.0"

    - name: Linting
      run: uvx pre-commit run --all-files

  test-python:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
        include:
          - os: windows-latest
            python-version: "3.10"
          - os : macos-latest
            python-version: "3.10"
    defaults:
      run:
        working-directory: python
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
  
    - name: Install uv and set the python version
      uses: astral-sh/setup-uv@803947b9bd8e9f986429fa0c5a41c367cd732b41 # v7.2.1
      with:
        enable-cache: true
        python-version: ${{ matrix.python-version }}
        version: "0.10.0"

    - name: Run pytest
      run: uv run --with pytest-github-actions-annotate-failures pytest -p no:sugar --quiet tests/
