name: test-java

on:
  push:
  pull_request:
    types:
      - merged
    branches:
      - main

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        java: ['11', '16']
        include:
          - os: windows-latest
            java: '16'
          - os: macos-latest
            java: '16'

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
          cache: 'maven'
      - run: mvn install
        working-directory: java
      - run: mvn test
        working-directory: java
      - run: ./scripts/check-jar.sh
        working-directory: java
