name: test-javascript

on:
  push:
    branches:
      - main
      - renovate/**
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        node-version: ['18.x', '20.x', '22.x', '23.x']
        include:
          - os: windows-latest
            node-version: '22.x'
          - os: macos-latest
            node-version: '22.x'

    steps:
    - name: set git core.autocrlf to 'input'
      run: git config --global core.autocrlf input
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: with Node.js ${{ matrix.node-version }} on ${{ matrix.os }}
      uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: javascript/package-lock.json
    - run: npm install-test
      working-directory: javascript
    - run: npm run lint
      working-directory: javascript
